<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
              crossorigin="anonymous"> 
        <title>Frequency Map</title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron"><a href="people" role="button" class="btn btn-info">Return</a></div>
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Character</th>
                    <th scope="col">Count</th>
                    </tr>
                </thead>
                <tbody><% @frequency_map.each_with_index do |row, index| %>
                    <tr>
                        <th scope="row"><%= index + 1 %></th>
                        <td><%= row['character'] %></td>
                        <td><%= row['email_address'] %></td>
                    </tr>
                </tbody><% end %>
            </table>
        </div>
    </body>
</html>
